	.frame {
		padding: var(--page-padding);
		position: relative;
		display: grid;
		z-index: 1000;
		width: 100%;
		grid-row-gap: 1rem;
		grid-column-gap: 2rem;
		justify-items: start;
		text-transform: uppercase;
		font-size: 14px;
	}

	.frame__header {
		height: 100%;
		z-index: 3000;
		background: url(img/bg-pic.jpg) center/cover no-repeat;
		grid-template-areas: 'title home git linkedin lorem heading';
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.frame__nav {
		display: flex;
		justify-content: space-between;
	}

	.frame__nav-links {
		display: flex;
		align-items: center;
	}

	.frame__title,
	.frame__home,
	.frame__git,
	.frame__linkedin {
		margin-right: 100px;
	}

	.frame a {
		pointer-events: auto;
	}

	.frame__title {
		grid-area: title;
		font-size: inherit;
	}

	.frame__home {
		grid-area: home;
		justify-self: start;
	}

	.frame__git {
		grid-area: git;
		justify-self: start;
	}

	.frame__linkedin {
		grid-area: linkedin;
	}

	.frame__lorem {
		margin-right: 0;
		grid-area: lorem;
		align-self: end;
	}

	.frame__heading {
		grid-area: heading;
		align-self: start;
		justify-self: start;
		width: min-content;
		display: flex;
		flex-direction: column;
		margin-top: 20vh;
		margin-left: 100px;
	}

	.frame__heading h2 {
		margin: 0;
		line-height: 0.9;
		text-transform: uppercase;
		margin-left: -0.065em;
		font-size: clamp(2.5rem, 12vw, 7rem);
		text-shadow: 2px 2px 2px #5f40a7;
		font-family: "Chillax-Semibold";
	}

	.frame__heading p {
		margin: 0;
		text-shadow: 1px 2px 2px #5f40a7;
		font-size: 16px;
	}

	.content {
		padding: var(--page-padding);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.content__intro {
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 2;
		background-color: #fff;
	}

	.text__large {
		font-size: clamp(1.5rem, 5vw, 3rem);
		max-width: 900px;
		margin: 0 0 0.85em 0;
		line-height: 1.2;
		font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 100;
		color: #5f40a7;
	}

	.content__sticky {
		width: 100vw;
		position: sticky;
		top: 0;
		--offset: 0px;
		top: var(--offset);
		height: calc(100vh - var(--offset));
		background-color: #fff;
	}

	.content__grid .content__inner {
		display: grid;
		overflow: hidden;
		grid-column-gap: 5vw;
		grid-row-gap: 2vh;
		align-content: center;
		grid-template-areas: 'content-title' 'content-text' 'content-img';
		justify-items: center;
	}

	.content__grid {
		display: block;
		padding: 0;
	}


	.content__inner {
		width: 100%;
		height: 100%;
		border-radius: 0 0 2rem 2rem;
		background-color: #5f40a7;
	}

	.content__title {
		grid-area: content-title;
		letter-spacing: -0.095em;
		text-transform: uppercase;
		line-height: 1;
		font-weight: normal;
		font-size: clamp(2rem, 6vw, 5rem);
		margin: 0;
		font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
	}

	.content__text {
		margin: 0;
		max-width: 500px;
		grid-area: content-text;
		text-align: center;
		line-height: 1.5;
		padding: 0 1rem;
		backface-visibility: hidden;
	}

	.content__img {
		grid-area: content-img;
		width: 50%;
		max-width: 300px;
		height: auto;
	}